* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*background-color: #5AAFED;*/
    background: rgb(26,134,152);
    background: linear-gradient(14deg, rgba(26,134,152,1) 0%, rgba(0,232,255,1) 100%);
    min-height: 100vh;
    font-size: 2rem;
    color: #2d2c2c;
}
header {
    padding: 1rem;
    /*background-color: #3D348B;*/
    background: rgb(27,101,168);
    background: linear-gradient(74deg, rgba(27,101,168,1) 0%, rgba(34,0,255,1) 100%);
    color: #03F7EB;
    text-align: center;
}
.local {
    float: left;
}
input {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #FFFFFF;
    font-weight: bold;
}
input:hover {
    color: rgba(34,0,255,1);
    background-color: #ddf1fc;
    cursor: pointer;
}
img {
    margin: 0 auto;
}
#weather-now {
    width: 20%;
    margin: 50px auto 0 auto;
}
#forecast {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}
.daycast {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
    background: linear-gradient(14deg, rgba(26,134,152,0.7) 0%, rgba(0,232,255,0.7) 100%);
    font-weight: bold;
    text-align: center;
}
.daycast:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    transition: 1s;
}
.active{
    background-color: #FFFFFF;
    transition: 1s;
}
#graphs {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #weather-now {
        width: 40%
    }
    #forecast {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
    }
}
@media only screen and (max-width: 600px){
    #weather-now {
        width: 80%
    }
    #forecast {
        grid-template-columns: 1fr;
    }
}
