* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #5AAFED;
    height: 100vh;
    font-size: 2rem;
}
header {
    padding: 1rem;
    background-color: #3D348B;
    color: #03F7EB;
    text-align: center;
}
.local {
    float: left;
}
input {
    font-size: 1rem;
    padding: 0.5rem;
}
#weather-now {
    width: 20%;
    margin: 10px auto 0 auto;
}
#forecast {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}
.daycast {
    border: 1px solid #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
}
